aside.aside
            div.logo
                svg.logo__icon-setting
                    use(href=require("../images/symbol-defs.svg#icon-setting"))
                div.logo__text-wrapper
                    h3.logo__title Dashboard
                    span.logo__subtitle v.01
            nav.aside__navigation
            - var nameArray = [{title: 'Product', url: '#', icon: "icon-d-square"}, {title: 'Customers', url: '#', icon: "icon-user-square"}, {title: 'Income', url: '#', icon: "icon-wallet-money"}, {title: 'Promote', url: '#', icon: "icon-discount-shape"}, {title: 'Help', url: '#', icon: "icon-message-question"}]
                ul.aside__list 
                    li.aside__item
                            a.aside__link.aside__link_dashboard(href= '#')
                                svg.aside__link-icon
                                    use(href=require('../images/symbol-defs.svg#icon-key-square'))
                                h4.aside__subtitile Dashboard
                    each item in nameArray
                        li.aside__item
                            a.aside__link(href= item.url)
                                div.aside__link-wrapper
                                    svg.aside__link-icon
                                        use(href=require(`../images/symbol-defs.svg#${item.icon}`))
                                    h4.aside__subtitile= item.title
                                svg.arrow-icon
                                    use(href=require(`../images/symbol-defs.svg#icon-chevron-right`))
                div.author
                    div.author__image
                        img(src=require("../images/avatar.png"), alt="avatar")
                    div.author__info
                        h5 Evano
                        p Project Manager